/* Start off hidden */
.collapsible {
 display: none;
}

noscript>div {
 display: inline;
}

.hidden {
 display: none;
}

div.shown {
 display: block;
}

a.shown {
 display: inline;
}

/* Show a hand pointer to indicate a link */
.link {
 cursor: pointer;
}