body {
    font-size: 100%;
}

.navcurrent {
    color: black;
    text-decoration: none;
}

.title {
    font-size: 1em;
    display: inline-block;
}

.booktitle {
    font-style: italic;
}

.bibentry {
    margin-top: 1em;
}

.abstractword {
    font-weight: bold;
}

.links {
    display: inline-block;
}